@import './palette';

a {
  color: $light-blue;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:focus {
    color: $blue;
    text-decoration: underline;
  }

  &:active {
    color: $dark-blue;
  }
}
