@import './palette';

@mixin input() {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0,0,0,.14);
  padding: 2px;
  font-size: 14px;
}

@mixin input-focus() {
  border-color: $light-blue;
}
