$white: #fff;
$black: #000;
$gray: #6c7177;

$light-red: #f44336;
$red: #f33123;
$dark-red: #f21f0f;

$light-yellow: #ffb300;
$yellow: #eba500;
$dark-yellow: #d69600;

$light-green: #4caf50;
$green: #46a149;
$dark-green: #409343;

$light-blue: #448aff;
$blue: #307dff;
$dark-blue: #1b70ff;

$default-light: #f8f8f8;
$default: #f1f1f1;
$default-dark: #dadada;

$default-border-light: #eceff1;
$default-border: #e0e5e8;
$default-border-dark: #e9edef;

$primary-light: $light-blue;
$primary: $blue;
$primary-dark: $dark-blue;

$success-light: $light-green;
$success: $green;
$success-dark: $dark-green;

$warning-light: $light-yellow;
$warning: $yellow;
$warning-dark: $dark-yellow;

$danger-light: $light-red;
$danger: $red;
$danger-dark: $dark-red;
