@import './palette';

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left
}

thead {
  background: $default;
}

tbody tr:hover {
  background: $default-light;
}

th, td {
  border: 1px solid $default-dark;
  font-weight: unset;
  padding: 5px;
}
