@import './palette';

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background: $default;
}

tbody {
  text-align: center;
}

th, td {
  border: 1px solid $default-dark;
  font-weight: unset;
  padding: 5px;
}
