 {
    "plugins": ["node"],
    "extends": "airbnb-base",
    "env": {
      "node": true,
      "es6": true,
      "jest": true
    },
    "rules": {
      "import/prefer-default-export": "off"
    }
}
